@charset "utf-8";

body {
	color: #404040;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, sans-serif;
}

.navbar-nav .nav-link {
	font-weight: bold;
	font-size: 120%;
	margin-left: 1em;
}

.navbar-nav .dropdown-item {
}

.container table {
	display: table;
	width: 100%;
	max-width: 100%;
}

span.logo {
	font-weight:bold;
	vertical-align:bottom;
	font-size:1.5rem;
}

span.header {
	font-size:1.75rem;
	font-weight: bold;
}

p.description {
	margin-bottom:0.5em;
	text-align: justify;
}

ol.achieve li {
	padding-bottom: 0.5em;
	text-align: justify;
}

a.projectpage {
	text-align: justify;
	font-size:1.25rem;
	text-decoration: none;
	font-weight: bold;
	color:#1492c6;
}

a.wikitechy {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

span.title {
	color: #1492c6;
	font-size:1.75rem;
	font-weight: bold;
}